@model List<MISPortal.Models.ApplicantPersonalDetails>

@if (Model[0].ID.PM.Count() != 0)
{
<table class="table table-responsive table-condensed table-hover no-margin tab-col">
    <thead>
        <tr>
            @*@if (Model[0].ID.PM[0]._PaymentType != "Cheque")
            {*@
            <td colspan="7" align="center">
                <h3>Payment Method</h3>
            </td>
            @*}
            else
            { 
            <td colspan="3" align="center">
                <h3>Payment Method</h3>
            </td>
            }*@
        </tr>
        <tr>
            <th></th>
            <th>
                Payment Type
            </th>
            @*@if (Model[0].ID.PM[0]._PaymentType != "Cheque")
            {*@
            <th>
                Financial Institute Name
            </th>
            <th>
                Branch Name
            </th>
            <th>
                BSB Name
            </th>
            <th>
                Account Number
            </th>
            <th>
                Account Name
            </th>
            @*}
            else
            { <th>Cheque Address:</th>}*@
        </tr>
    </thead>
    <tbody>
    @*@foreach (var pm in Model[0].ID.PM)
    {*@
                @if (Model[0].ID.PM.Count > 0)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m[0].ID.PM[0]._PaymentMethodID)
                        @Html.HiddenFor(m => m[0].ID.PM[0]._PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m[0].ID.PM[0]._PaymentType)
                    </td>
                    @if (Model[0].ID.PM[0]._PaymentType != "Cheque")
                    {
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[0]._FinancialInstituteName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[0]._BranchName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[0]._BSBNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[0]._AccountNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[0]._AccountName, new { required = "required" })
                    </td>
                    }
                    else
                    { 
                    <td>
                        <p>
                        Crescent Wealth Managed Funds<br />
                        c/o FundBPO Pty Ltd<br />
                        GPO Box 4968<br />
                        Sydney NSW 2001<br />
                        </p>
                    </td>
                    }
                </tr>
                }
                
                @if (Model[0].ID.PM.Count > 1)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m[0].ID.PM[1]._PaymentMethodID)
                        @Html.HiddenFor(m => m[0].ID.PM[1]._PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m[0].ID.PM[1]._PaymentType)
                    </td>
                    @if (Model[0].ID.PM[1]._PaymentType != "Cheque")
                    {
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[1]._FinancialInstituteName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[1]._BranchName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[1]._BSBNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[1]._AccountNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[1]._AccountName, new { required = "required" })
                    </td>
                    }
                    else
                    { 
                    <td>
                        <p>
                        Crescent Wealth Managed Funds<br />
                        c/o FundBPO Pty Ltd<br />
                        GPO Box 4968<br />
                        Sydney NSW 2001<br />
                        </p>
                    </td>
                    }
                </tr>
                }
                
                @if (Model[0].ID.PM.Count > 2)
                {
                <tr>
                    <td>
                        @Html.HiddenFor(m => m[0].ID.PM[2]._PaymentMethodID)
                        @Html.HiddenFor(m => m[0].ID.PM[2]._PaymentType)
                    </td>
                    <td>
                        @Html.DisplayFor(m => m[0].ID.PM[2]._PaymentType)
                    </td>
                    @if (Model[0].ID.PM[2]._PaymentType != "Cheque")
                    {
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[2]._FinancialInstituteName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[2]._BranchName, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[2]._BSBNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[2]._AccountNumber, new { required = "required" })
                    </td>
                    <td>
                        @Html.TextBoxFor(m => m[0].ID.PM[2]._AccountName, new { required = "required" })
                    </td>
                    }
                    else
                    { 
                    <td>
                        <p>
                        Crescent Wealth Managed Funds<br />
                        c/o FundBPO Pty Ltd<br />
                        GPO Box 4968<br />
                        Sydney NSW 2001<br />
                        </p>
                    </td>
                    }
                </tr>
                }
   @* }*@
    </tbody>
</table>
}